@page
@model SmartLibrary.RazorPagesAdmin.Pages.IndexModel
@{
    ViewData["Title"] = "Home";
}

<h1>Welcome to SmartLibrary Admin Panel</h1>

<p>
    <a class="btn btn-primary" asp-page="/Login">Login</a>
</p>
